 
 .carousel-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 480px;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
    width: 100%;
    height: 645px;

}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    height: 60vh;
    border-radius: 30px;
    margin-top: 60px;
    object-fit:cover;
    object-position: 50% 70%;
    flex-shrink: 0;
    flex-grow: 1;
}

.contenant-arrow{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 370px;
}

.left-arrow, .right-arrow {
    background-color: transparent;
    border: inherit;
    width : 100px;
}

.arrow{
    width: 100px;
}

.counter-img{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 177px;
}

.counter-img-background{
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 320px) and (max-width: 480px) {
    .carousel-content > * {
        width: 100%;
        height: 30vh;
        border-radius: 30px;
        margin-top: 20px;
        object-fit:cover;
        object-position: 50% 70%;
        flex-shrink: 0;
        flex-grow: 1;
    }
    
    .contenant-arrow{
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 45%;
    }

    .carousel-content-wrapper {
        margin-left: 10px;
        margin-right: 10px;
        overflow: hidden;
        width: 100%;
        height: 100%;
    
    }

    .counter-img {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 26%;
    }

    .arrow{
        width: 50px;
    }

     
 .carousel-container {
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
    /* display: flex;
    flex-direction: column; */
}

.left-arrow, .right-arrow {
    background-color: transparent;
    border: inherit;
    width : 55px;
}

}


@media (min-width: 600px) and (max-width: 699px) {
    .contenant-arrow {
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 45%;
    }

    .arrow {
        width: 70px;
    }

    .carousel-wrapper {
        display: flex;
        width: 100%;
        height: 90vh;
        position: relative;
    }

    .carousel-content-wrapper {
        margin-left: 10px;
        margin-right: 10px;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    
    .counter-img {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 30%;
    }

    .carousel-container {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    
}

@media (min-width: 1920px) and (max-width: 1921px) {
    .counter-img {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 130px;
    }
    .contenant-arrow {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 340px;
    }
}
