


.collapsible-contenant{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 60px;
    width: 100%;

}
.collapsible-button{
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-style : none;
    background-color:#FF6060;
    width: 100%;
    height: 70px;
    border-radius: 5px ;

}

.collapsible-contenant-button{
    display: flex;
    justify-content: center;
    width:100%;
}

.img-arrow{
    width: 5%;
}

.text-button{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}


.text-contenant{
    width: 100%;
    padding-bottom: 20px;
    background: #F6F6F6;
    border-radius: 0px 0px 15px 15px ;
    height: 35vh;
}

.text-description{
    color:#FF6060 ;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    font-size: 20px;
}

.arrowDown{
    color: white;
    width: 5%;
}

.arrowUp{
    color: white;
    width: 5%;
    padding-right: 10px;
}


@media (min-width: 320px) and (max-width: 480px) {
    .collapsible-contenant{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 00px;
        margin-top: 60px;
    }

    .collapsible-button{
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-style : none;
        background-color:#FF6060;
        width: 100%;
        height: 70px;
        border-radius: 5px ;
        margin-left: 0px;
    
    }

    .text-contenant{
        width: 100%;
        height: 100%;
        background: #F6F6F6;
        border-radius: 0px 0px 15px 15px ;
    }

    .arrowDown{
        color: white;
        width: 10%;
    }
    
    .arrowUp{
        color: white;
        width: 10%;
        padding-right: 10px;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .collapsible-contenant{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 00px;
        margin-top: 50px;
    }

    .collapsible-button{
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-style : none;
        background-color:#FF6060;
        height: 70px;
        border-radius: 5px ;
        margin-left: 0px;
    
    }

    .text-contenant{
        width: 100%;
        height: 105vh;
        margin-left: 0px;
        background: #F6F6F6;
        border-radius: 0px 0px 15px 15px ;
    }

    .arrowDown {
        color: white;
        width: 10%;
    }

    .arrowUp {
        color: white;
        width: 10%;
        padding-right: 10px;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .tags {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 20px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        background-color: #FF6060;
        width: 35vh;
        height: 15vh;
        border-radius: 30px;
    }

    .logement-title-host {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        color: #FF6060;
    }

    .logement-collapsible {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
    }

}


@media (min-width: 700px) and (max-width: 799px) {
    .text-contenant {
        width: 100%;
        padding-bottom: 20px;
        background: #F6F6F6;
        border-radius: 0px 0px 15px 15px;
        height: 78vh;
    }

    .arrowDown {
        color: white;
        width: 10%;
    }
    
}





/* .collapsible-contenant{
    display: flex;
    justify-content: space-between;
} */