.background-star{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 3vh;
}

.starFull{
    width: 100%;
}

@media (min-width: 600px) and (max-width: 699px) {
    .background-star{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 6vh;
    }


}